* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}
body {
	background-color: #B6B9D2;
	color: #AC0000;
}
.container {
	padding: 5vw;
}
.container h1 {
	font-size: 2.5em;
/* 	margin-bottom: 2em; */
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	font-family: monospace;
	font-weight: 200;
	text-shadow: 5px 3px #9298CE;
}
.container h1::before {
	content: '─';
	margin-right: 0.6em;
	color: #686868;
}
.container h1::after {
	content: '─';
	margin-left: 0.6em;
	color: #686868;
}
.boxes {
	margin-top: 100px;
	display: flex;
	justify-content: space-evenly;
}
.boxes:last-child {
	margin-top: 120px;
}
.box {
	width: 30vw;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 200;
	padding: 0 4vw 4vw;
	border-right: 2px;
	border-left: 0;
	border-style: solid;
/* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
	border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}
.box:last-child {
	border-right: 0;
}
.box .cards {
	font-size: 2em;
	color: #AC0000;
	margin-bottom: 0.6em;
	font-size:23px; 
	text-align:center;
	border:5px outset #D86262;
}
.box h2 {
	font-size: 1.3em;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
	line-height: 1em;
	color: #AC0000;
	background-color: #A9BDCF;
	border-radius: 10px;
	text-align: center;
}
.box .p1 {
	font-style: italic;
	color: #505252;
	margin-bottom: 1.2em;
	letter-spacing: 1px;
	font-family: Lora, serif;
	font-weight: 900;
}

.p2 {
	font-weight: normal;
	font-family: monospace;
	width: 350px;
	height: 300px;
	background-color: #B1C3D3;

	font-size: 15px;
	overflow: scroll;
	padding: 30px;
}
h2:hover {
	background-color: #597D9D;
	color: #A9BDCF;
}
.image {
	width: 100px;
	height: 100px;
}
